.field {
    width: 400px;
    height:  400px;
    position: relative;
    margin: 0 auto;
    border: black solid black;
    border-radius: 10px;
    background-color: rgb(81, 92, 143);
    
}

.field__item {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgb(171, 206, 246);
    border: 2px solid rgb(81, 92, 143);
    box-sizing: border-box;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: left .3s, top .3s;
    cursor: pointer;
    user-select: none;
}